@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap');

$readex_pro_font: 'Readex Pro', sans-serif;
$inter_font: 'Inter', sans-serif;
$black_color:#000000;
$swamp_color:#DCE5E2;
$light_swamp_color:#F8F9FA;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}